---
import Layout from '@layouts/BlogPage.astro';
import Container from '@components/Container';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';
import { listSubDirectories } from '@utils/paths';
import settings from '@base/settings.json';

import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const troubleshootingCats = await listSubDirectories({
    path: './src/content/troubleshooting',
  });
  const params = troubleshootingCats.map((category) => ({
    params: {
      category,
    },
  }));

  return [...params];
}

const indexNameTroubleshooting = import.meta.env
  .PUBLIC_MEILISEARCH_INDEX_SUPPORT;

const { category } = Astro.params;

const collection = 'troubleshooting';

// TODO: load title from settings
const pageTitle = 'Troubleshooting';
const allPosts: CollectionEntry<'troubleshooting'>[] = (
  await getCollection(
    'troubleshooting',
    ({ slug }) => slug.split('/')[0] === category,
  )
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout
  title={settings.site.metadata.troubleshooting.title}
  description={settings.site.metadata.troubleshooting.description}
>
  <main class="container min-h-container">
    <BlogHeader
      title="Troubleshooting"
      indexName={indexNameTroubleshooting}
      category={category}
    />
    <BlogPosts allPosts={allPosts} collection={collection} />
  </main>
</Layout>
