---
import { formatDate } from '@utils/date';
import ChangelogListBody from './ChangelogListBody.astro';
import { IconArrowUpRight } from '@components/IconArrow';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  changelog: CollectionEntry<'changelog'>;
  generateChangelogDetailsUrl: (
    changelog: CollectionEntry<'changelog'>,
  ) => string;
}

const { changelog, generateChangelogDetailsUrl } = Astro.props;
---

<div class="relative border-l border-gray-dark-6 pb-48 pl-26 last:pb-0">
  <div
    class="absolute -left-8 top-1 size-15 rounded-full border-3 border-gray-dark-2 bg-gray-dark-11 outline outline-gray-dark-6"
  >
  </div>
  <p class="pb-16 text-14 font-medium text-yellow-dark-11">
    {formatDate({ date: changelog.data.date })}
  </p>
  <img
    src={changelog.data.image?.src}
    alt={changelog.data.desc}
    class="w-full rounded-20 border-6 border-gray-dark-3 p-0 outline outline-gray-dark-5 sm:h-400"
  />
  <article class="flex flex-col gap-24 py-24">
    <a
      href={generateChangelogDetailsUrl(changelog)}
      class="text-34 font-medium leading-tight text-gray-dark-12 hover:underline"
    >
      {changelog.data.title}
    </a>
    <ChangelogListBody slug={changelog.slug} />
  </article>
  <a
    href={generateChangelogDetailsUrl(changelog)}
    class="group flex items-center gap-4 text-16 text-gray-dark-12 hover:underline"
  >
    Read the announcement to learn more{' '}
    <IconArrowUpRight
      className="size-18 text-gray-dark-11 transition-all group-hover:ml-4"
    />
  </a>
</div>
