---
import Layout from '@layouts/BlogPage.astro';
import Container from '@components/Container';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';
import { listSubDirectories } from '@utils/paths';
import settings from '@base/settings.json';

import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const billingCats = await listSubDirectories({
    path: './src/content/billing',
  });
  const params = billingCats.map((category) => ({
    params: {
      category,
    },
  }));

  return [...params];
}

const indexNameBilling = import.meta.env.PUBLIC_MEILISEARCH_INDEX_SUPPORT;

const { category } = Astro.params;

const collection = 'billing';

// TODO: load title from settings
const pageTitle = 'Billing';
const allPosts: CollectionEntry<'billing'>[] = (
  await getCollection('billing', ({ slug }) => slug.split('/')[0] === category)
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={settings.site.metadata.title}>
  <main class="container min-h-container">
    <BlogHeader
      title="Billing"
      indexName={indexNameBilling}
      category={category}
    />
    <BlogPosts allPosts={allPosts} collection={collection} />
  </main>
</Layout>
