---
import Layout from '@layouts/ChangelogPage.astro';
import settings from '@base/settings.json';
import ChangelogItem from '@components/Changelog/ChangelogItem.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import ButtonYellow from '@components/ButtonYellow';

const initialChangelogs = (await getCollection('changelog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);

const generateChangelogDetailsUrl = (changelog: CollectionEntry<'changelog'>) =>
  `./${changelog.collection}/${changelog.slug}`;
---

<Layout
  title={settings.site.metadata.changelog.title}
  description={settings.site.metadata.changelog.description}
>
  <section class="m-auto flex max-w-768 flex-col px-20 pb-128 font-plex-sans">
    <div class="pb-42">
      <h1 class="text-34 font-medium text-gray-dark-12">Changelog</h1>
      <h2 class="text-20">New updates and improvements to Fleek</h2>
    </div>
    <div class="pl-8" id="changelog-container">
      {
        initialChangelogs.map((changelog) => (
          <ChangelogItem
            changelog={changelog}
            generateChangelogDetailsUrl={generateChangelogDetailsUrl}
          />
        ))
      }
    </div>
    <div class="self-center pt-42">
      <ButtonYellow id="load-more">Load more</ButtonYellow>
    </div>
  </section>
</Layout>

<script>
  let currentBatch = 1;
  const loadMoreButton = document.getElementById('load-more');
  const changelogContainer = document.getElementById('changelog-container');

  loadMoreButton?.addEventListener('click', async () => {
    currentBatch += 1; // Move to the next batch
    const response = await fetch(
      `/api/changelog-batch/${currentBatch}/index.html`,
    );

    if (response.ok) {
      const newContent = await response.text();
      changelogContainer?.insertAdjacentHTML('beforeend', newContent);
    } else {
      // Hide the button if no more content is available
      loadMoreButton.style.display = 'none';
    }
  });
</script>
