---
import Layout from '@layouts/BlogPage.astro';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';
import settings from '@base/settings.json';

import type { CollectionEntry } from 'astro:content';

const indexNameGuides = import.meta.env.PUBLIC_MEILISEARCH_INDEX_GUIDES;

const collection = 'guides';

// TODO: load title from settings
const pageTitle = 'Guides';
const allPosts: CollectionEntry<'guides'>[] = (
  await getCollection('guides')
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout
  title={settings.site.metadata.guides.title}
  description={settings.site.metadata.guides.description}
>
  <main class="container min-h-container">
    <BlogHeader title="Guides" indexName={indexNameGuides} />
    <BlogPosts allPosts={allPosts} collection={collection} />
  </main>
</Layout>
