---
import Layout from '@layouts/Page.astro';
import HomepageHero from "@components/HomepageHero";
import GlobeWithFloatingCards from "@components/GlobeWithFloatingCards";
import CardsWithDottedLinesBackground from "@components/CardsWithDottedLinesBackground";
import HostingOnFleek from "@components/HostingOnFleek";
import LoopingCardSlider from "@components/LoopingCardSlider";
import IconsCollectionWithHeadline from "@components/IconsCollectionWithHeadline";
import ChainAgnostic from "@components/ChainAgnostic";
import CopyWithImageSwap from "@components/CopyWithImageSwap";
import NSManagement from "@components/NSManagement";
import CountdownAnimation from "@components/CountdownAnimation";
import JoinOurFriends from "@components/JoinOurFriends";
import BuildUseCases from "@components/BuildUseCases";
import { down, up } from "@utils/screens";
import { getImage } from "astro:assets";

import { Image } from 'astro:assets';
import imgDnsEnsIpnsManagement from "@images/dns-ens-ipns-management.png";
import imgHostingOnFleek from "@images/hosting-on-fleek.png";
import imgSnapshotBanner from "@images/snapshot-banner.jpg";
import imgSnapshotIcon from "@images/snapshot-icon.png";
import imgVitalikButerinBanner from "@images/vitalik-buterin-banner.jpg";
import imgEthIcon from "@images/eth-icon.png";
import imgDappRadar from "@images/dappradar-banner.jpg";
import imgDappRadarIcon from "@images/dappradar-icon.png";
import imgSynthetixBanner from "@images/synthetix-banner.jpg";
import imgSynthetixIcon from "@images/synthetix-icon.png";
import imgEnsAppBanner from "@images/ensapp-banner.jpg";
import imgEnsAppIcon from "@images/ens-icon.png";
import imgBolt from "@images/bolt.png";
import imgFleekSdkUploadToIpfs from "@images/fleek-sdk-uploadtoipfs.png";
import imgFleekCliUploadFile from "@images/fleek-cli-upload-file.png";
import imgGlobeCountDown from "@images/globe-countdown.png";

// Warn: Use getImage carefully as it generates a big amount of source-code due to its async nature
const optImgFleekSdkUploadToIpfs = await getImage({src: imgFleekSdkUploadToIpfs, format: 'webp'});
const optImgFleekCliUploadFile = await getImage({src: imgFleekCliUploadFile, format: 'webp'});
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
	<div class="flex flex-col gap-24 mb-40 lg:gap-32">
		<HomepageHero client:load />
		<GlobeWithFloatingCards client:load />
		<div class="flex flex-col gap-8 lg:gap-16">
      <HostingOnFleek
        client:load
        rounded="top-big-bottom-small"
      >
        <Image
          class="max-w-[280px] object-contain mix-blend-screen md:max-w-[550px] xl:max-w-[663px]"
          src={imgHostingOnFleek}
          alt="Hosting on Fleek"
          slot="optImgHostingOnFleek"
        />
      </HostingOnFleek>
      <JoinOurFriends client:only="react">
        <Image
          src={imgSnapshotBanner}
          class="object-cover"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          alt="snapshot.org"
          slot="optImgSnapshotBanner"
        />
        <Image
          src={imgSnapshotIcon}
          class="object-contain"
          sizes="32px"
          alt="snapshot icon"
          slot="optImgSnapshotIcon"
        />
        <Image
          src={imgVitalikButerinBanner}
          class="object-cover"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          alt="vitalik.eth"
          slot="optImgVitalikButerinBanner"
        />
        <Image
          src={imgEthIcon}
          class="object-contain h-32"
          sizes="32px"
          alt="Vitalik icon"
          slot="optImgEthIcon"
        />
        <Image
          src={imgDappRadar}
          class="object-contain"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          slot="optImgDappRadar"
          alt="Dapp Radar icon"
        />
        <Image
          src={imgDappRadarIcon}
          class="object-contain"
          sizes="32px"
          alt="dappradar.com"
          slot="optImgDappRadarIcon"
        />
        <Image
          src={imgSynthetixBanner}
          class="object-contain"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          slot="optImgSynthetixBanner"
          alt="Synthetix icon"
        />
        <Image
          src={imgSynthetixIcon}
          class="object-contain"
          sizes="32px"
          alt="staking.synthetix.io"
          slot="optImgSynthetixIcon"
        />
        <Image
          src={imgEnsAppBanner}
          class="object-contain"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          slot="optImgEnsAppBanner"
          alt="ENS icon"
        />
        <Image
          src={imgEnsAppIcon}
          class="object-contain"
          sizes="32px"
          alt="app.ens.domains"
          slot="optImgEnsAppIcon"
        />
      </JoinOurFriends>
      <BuildUseCases client:load />
      <ChainAgnostic client:load>
        <Image
          src={imgBolt}
          class="h-32 w-16"
          alt="fleek bolt icon"
          slot="optImgBolt"
        />
      </ChainAgnostic>
      <CopyWithImageSwap
        client:load
        kicker="Storage"
        headline="IPFS, Arweave, Filecoin, OH MY."
        copy="Multiple storage layer options. All with IPFS content addressing/routing built in. In just 3 lines of code."
        cta={{
          text: "learn more",
          url: "https://fleek.xyz/storage/",
        }}
        optImgFleekSdkUploadToIpfs={optImgFleekSdkUploadToIpfs.src}
        optImgFleekCliUploadFile={optImgFleekCliUploadFile.src}
      />
		</div>
    <NSManagement client:load cta="Learn More">
      <Image
        class="object-contain mix-blend-screen"
        src={imgDnsEnsIpnsManagement}
        alt="DNS/ENS/IPNS Management"
        slot="OptImgDnsEnsIpnsManagement"
      />
    </NSManagement>
    <CountdownAnimation client:load>
      <Image
        src={imgBolt}
        class="h-56 w-28 xl:h-80 xl:w-40"
        alt="fleek bolt icon"
        slot="optImgBolt"
      />
      <Image
        src={imgGlobeCountDown}
        class="mx-auto w-[90%]"
        alt="image of a globe render"
        slot="optImgGlobeCountDown1"
      />
      <Image
        src={imgGlobeCountDown}
        class="absolute left-1/2 top-0 -z-1 w-[110vw] max-w-none -translate-x-1/2 pt-24 mix-blend-screen"
        alt="image of a globe render"
        slot="imgGlobeCountDown2"
      />
    </CountDownAnimation>
	</div>
</Layout>
