---
import Layout from '@layouts/Page.astro';
import HomepageHero from "@components/HomepageHero";
import GlobeWithFloatingCards from "@components/GlobeWithFloatingCards";
import CardsWithDottedLinesBackground from "@components/CardsWithDottedLinesBackground";
import HostingOnFleek from "@components/HostingOnFleek";
import LoopingCardSlider from "@components/LoopingCardSlider";
import IconsCollectionWithHeadline from "@components/IconsCollectionWithHeadline";
import ChainAgnostic from "@components/ChainAgnostic";
import CopyWithImageSwap from "@components/CopyWithImageSwap";
import NSManagement from "@components/NSManagement";
import CountdownAnimation from "@components/CountdownAnimation";
import JoinOurFriends from "@components/JoinOurFriends";
import BuildUseCases from "@components/BuildUseCases";
import { down, up } from "@utils/screens";

import { Image } from 'astro:assets';
import imgDnsEnsIpnsManagement from "@images/dns-ens-ipns-management.png";
import imgHostingOnFleek from "@images/hosting-on-fleek.png";
import imgGlobeWithBolt from "@images/globe-with-bolt.jpg";
import imgSnapshotBanner from "@images/snapshot-banner.jpg";
import imgSnapshotIcon from "@images/snapshot-icon.png";
import imgVitalikButerinBanner from "@images/vitalik-buterin-banner.jpg";
import imgEthIcon from "@images/eth-icon.png";
import imgDappRadar from "@images/dappradar-banner.jpg";
import imgDappRadarIcon from "@images/dappradar-icon.png";
import imgSynthetixBanner from "@images/synthetix-banner.jpg";
import imgSynthetixIcon from "@images/synthetix-icon.png";
import imgEnsAppBanner from "@images/ensapp-banner.jpg";
import imgEnsAppIcon from "@images/ens-icon.png";
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
	<div class="flex flex-col gap-24 mb-40 lg:gap-32">
		<HomepageHero client:load />
		<GlobeWithFloatingCards client:load>
      <Image
        src={imgGlobeWithBolt}
        alt="globe with bolt"
        width={480}
        height={480}
        class="absolute left-1/2 top-1/2 hidden -translate-x-1/2 -translate-y-1/2 transform-gpu mix-blend-screen lg:block"
        slot="optImgGlobeWithBolt "
      />
    </GlobeWithFloatingCards>
		<div class="flex flex-col gap-8 lg:gap-16">
      <HostingOnFleek
        client:load
        rounded="top-big-bottom-small"
      >
        <Image
          class="max-w-[280px] object-contain mix-blend-screen md:max-w-[550px] xl:max-w-[663px]"
          src={imgHostingOnFleek}
          alt="Hosting on Fleek"
          slot="optImgHostingOnFleek"
        />
      </HostingOnFleek>
      <JoinOurFriends client:only="react">
        <Image
          src={imgSnapshotBanner}
          className="object-cover"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          alt="snapshot.org"
          slot="optImgSnapshotBanner"
        />
        <Image
          src={imgSnapshotIcon}
          className="object-contain"
          sizes="32px"
          alt="snapshot icon"
          slot="optImgSnapshotIcon"
        />
        <Image
          src={imgVitalikButerinBanner}
          className="object-cover"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          alt="vitalik.eth"
          slot="optImgVitalikButerinBanner "
        />
        <Image
          src={imgEthIcon}
          className="object-contain"
          sizes="32px"
          alt="Vitalik Buterin icon"
          slot="optImgEthIcon"
        />
        <Image
          src={imgDappRadar}
          className="object-contain"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          slot="optImgDappRadar"
          alt="Dapp Radar icon"
        />
        <Image
          src={imgDappRadarIcon}
          className="object-contain"
          sizes="32px"
          alt="dappradar.com"
          slot="optImgDappRadarIcon"
        />
        <Image
          src={imgSynthetixBanner}
          className="object-contain"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          slot="optImgSynthetixBanner"
          alt="Synthetix icon"
        />
        <Image
          src={imgSynthetixIcon}
          className="object-contain"
          sizes="32px"
          alt="staking.synthetix.io"
          slot="optImgSynthetixIcon"
        />
        <Image
          src={imgEnsAppBanner}
          className="object-contain"
          sizes={`${down("lg")} 100vw, ${up("lg")} 240px`}
          slot="optImgEnsAppBanner"
          alt="ENS icon"
        />
        <Image
          src={imgEnsAppIcon}
          className="object-contain"
          sizes="32px"
          alt="app.ens.domains"
          slot="optImgEnsAppIcon"
        />
      </JoinOurFriends>
      <BuildUseCases client:load />
      <ChainAgnostic client:load />
      <CopyWithImageSwap
        client:load
        kicker="Storage"
        headline="IPFS, Arweave, Filecoin, OH MY."
        copy="Multiple storage layer options. All with IPFS content addressing/routing built in. In just 3 lines of code."
        cta={{
          text: "learn more",
          url: "https://fleek.xyz/storage/",
        }}
      />
		</div>
    <NSManagement client:load cta="Learn More">
      <Image
        class="object-contain mix-blend-screen"
        src={imgDnsEnsIpnsManagement} slot="OptImgDnsEnsIpnsManagement"
        alt="DNS/ENS/IPNS Management"
      />
    </NSManagement>
    <CountdownAnimation client:load />
	</div>
</Layout>
