---
import Layout from '@layouts/BlogPage.astro';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';
import settings from '@base/settings.json';

import type { CollectionEntry } from 'astro:content';

const indexNameTroubleShooting = import.meta.env
  .PUBLIC_MEILISEARCH_INDEX_TROUBLESHOOTING;

const collection = 'troubleshooting';

// TODO: load title from settings
const pageTitle = 'Troubleshooting';
const allPosts: CollectionEntry<'troubleshooting'>[] = (
  await getCollection('troubleshooting')
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout
  title={settings.site.metadata.troubleshooting.title}
  description={settings.site.metadata.troubleshooting.description}
>
  <main class="container min-h-container">
    <BlogHeader title="Troubleshooting" indexName={indexNameTroubleShooting} />
    <BlogPosts allPosts={allPosts} collection={collection} />
  </main>
</Layout>
