---
import { Image } from 'astro:assets';

import type { CollectionEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';

const { allPosts, collection } = Astro.props;

// TODO: Use CollectionEntry correctly
// instead of custom type
type AllPosts = {
  slug: string;
  data: {
    title: string;
    image: ImageMetadata;
    category: string;
  };
};
---

<div
  class="all-posts grid grid-cols-1 items-stretch gap-4 px-20 md:px-64 py-64 pb-128 lg:grid-cols-3 lg:gap-32"
>
  {
    allPosts.map((post: AllPosts) => (
      <a href={`/${collection}/${post.slug}`}>
        <article class="min-h-[360px] cursor-pointer overflow-hidden rounded-8 bg-ui-fleek-black shadow transition hover:scale-105">
          {post.data?.image && (
            <Image
              class="h-[200px] w-full object-cover"
              src={post.data.image}
              alt=""
            />
          )}
          <div class="p-32">
            <span class="font-plex-sans text-16 font-light text-ui-mid-grey">
              {post.data.category}
            </span>
            <h3 class="font-plex-sans text-24 font-medium leading-tight">
              {post.data.title}
            </h3>
          </div>
        </article>
      </a>
    ))
  }
</div>
