---
import '@styles/globals.css';
import Announcement from '@components/Announcement';
import Nav from '@components/NavBar';
import Footer from '@components/Footer';
import { getSiteUrl } from '@utils/url';
import settings from '@base/settings.json';

interface Props {
  title: string;
  ogMeta: {
    title: string;
    description: string;
    image: string;
    slug: string;
  };
}

const { title, ogMeta } = Astro.props;
const baseUrl = getSiteUrl();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <!-- HTML Meta Tags -->
    <title>{ogMeta?.title || settings.site.metadata.default.title}</title>
    <meta
      name="description"
      content={ogMeta?.description ||
        settings.site.metadata.default.description}
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={`${baseUrl}/${ogMeta?.slug || ''}`} />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content={ogMeta?.title || settings.site.metadata.default.title}
    />
    <meta
      property="og:description"
      content={ogMeta?.description ||
        settings.site.metadata.default.description}
    />
    <meta
      property="og:image"
      content={`${baseUrl}/${ogMeta?.image?.replace(/^\/+/, '') || settings.site.metadata.default.image?.replace(/^\/+/, '')}`}
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={baseUrl} />
    <meta property="twitter:url" content={`${baseUrl}/${ogMeta?.slug}`} />
    <meta
      name="twitter:title"
      content={ogMeta?.title || settings.site.metadata.default.title}
    />
    <meta
      name="twitter:description"
      content={ogMeta?.description ||
        settings.site.metadata.default.description}
    />
    <meta
      name="twitter:image"
      content={`${baseUrl}${ogMeta?.image}` ||
        settings.site.metadata.default.image}
    />

    <!-- Google Tag Manager -->
    <script is:inline src="/lib/gtm.js"></script>
  </head>
  <body
    class="--font-plex-sans --font-plex-mono --font-sans bg-mesh min-h-full bg-black font-sans text-gray-dark-11 selection:bg-yellow-dark-9 selection:text-black"
  >
    <!-- Google Tag Manager (noscript version) -->
    <!-- WARNING: The script version is above see /lib/gtm.js -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WMT553Z"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WMT553Z"
        height="0"
        width="0"
        style={{ display: 'none', visibility: 'hidden' }}></iframe>
    </noscript>
    <Announcement client:load />
    <Nav client:load pathname={Astro.url.pathname} />
    <slot />
    <Footer client:load />
  </body>
</html>
