---
import '../globals.css';
import Announcement from "@components/Announcement";
import Container from "@components/Container";
import Nav from "@components/Nav";
import Footer from "@components/Footer";
import generateSidebarDS, { generateSidebarDSByUserOrder } from '@utils/generateSidebarDS';
import { getCollection } from "astro:content";
import Sidebar from '@components/Sidebar';
import OnPageNavigation from '@components/OnPageNavigation/OnPageNavigation.astro';

import type { MarkdownHeading } from 'astro';

type Props = {
  title: string;
	headings: MarkdownHeading[];
};

// TODO: Get from settings (create)
const GITHUB_EDIT_URL = 'https://github.com/fleekxyz/<TODO:RESPOSITORY-NAME>/edit/';

const { title, headings } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `src/content/blog/${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;

const allPosts = await getCollection("docs");
const orderBy = [{
	category: 'randomx',
	order: 5,
}, {
	category: 'categoryx',
	order: 3,
}, {
	category: 'has_whitespace_and-dash',
	order: 2,
}];

const sidebarSorted = generateSidebarDSByUserOrder(allPosts, orderBy);
---

<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Seamlessly build Web3 apps and services that are edge-optimized for performance. Decentralized hosting, storage, gateways and more."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="--font-plex-sans --font-plex-mono --font-sans bg-mesh bg-black font-sans text-ui-light-grey selection:bg-[#ff3dcf] selection:text-black">
    <Nav client:load pathname={Astro.url.pathname} />
    <main class="container min-h-container">
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
