---
import '../globals.css';
import BaseHtml from '@layouts/BaseHtml.astro';
import Announcement from "@components/Announcement";
import Container from "@components/Container";
import Nav from "@components/Nav";
import Footer from "@components/Footer";
import generateSidebarDS, { generateSidebarDSByUserOrder } from '@utils/generateSidebarDS';
import { getCollection } from "astro:content";
import Sidebar from '@components/Sidebar';
import OnPageNavigation from '@components/OnPageNavigation/OnPageNavigation.astro';
import GithubEditLink from '@components/GitHubEditLink.astro';

import type { MarkdownHeading } from 'astro';

type Props = {
  title: string;
	headings: MarkdownHeading[];
};

// TODO: Get from settings (create)
const GITHUB_EDIT_URL = 'https://github.com/fleekxyz/<TODO:RESPOSITORY-NAME>/edit/';

const { title, headings } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrlPathname = currentFile.replace(/\//, '');

const allPosts = await getCollection("docs");
const orderBy = [{
	category: 'randomx',
	order: 5,
}, {
	category: 'categoryx',
	order: 3,
}, {
	category: 'has_whitespace_and-dash',
	order: 2,
}];

const sidebarSorted = generateSidebarDSByUserOrder(allPosts, orderBy);
---

<BaseHtml title={title}>
  <style>
   @tailwind components;

   @layer components {
    .doc {
      @apply font-plex-mono text-18 leading-normal pb-128;

      h1 {
        @apply font-plex-mono text-38 font-bold leading-loose;
      }

      h2 {
        @apply font-plex-mono text-32 font-bold leading-loose;
      }

      p {
        @apply font-plex-mono text-18 pb-32 leading-normal;
      }

      a {
        @apply text-blue-500;
      }

      ul {
        @apply pl-32;

        li {
          @apply pb-10 list-disc;
        }
      }
    }
   }
  </style>
  <main class="container min-h-container">
    <div class="grid grid-cols-[1fr,3fr,1fr] gap-4">
      <div class="px-32">
        <Sidebar
          client:load
          data={sidebarSorted}
          pathname={Astro.url.pathname}
        />
      </div>
      <div class="px-32">
        <article class="doc">
          <slot />
          <GithubEditLink pathname={githubEditUrlPathname} />
        </article>
      </div>
      <div>
        <OnPageNavigation headings={headings} githubEditUrl={githubEditUrlPathname} />
      </div>
    </div>
  </main>
</BaseHtml>
